samples/15-schema-include/event.xsd

<?xml version="1.0"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="urn:example:calendar"
        elementFormDefault="qualified"
        xmlns:cal="urn:example:calendar">
    <complexType name="Event">
        <sequence>
            <element name="date" type="dateTime" />
            <element name="description" type="string" />
        </sequence>
    </complexType>
    <element name="event" type="cal:Event" />
</schema>